{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="slider">
  <ul class="slides">
    {% for item in page.carousel_images.all %}
    <li>
      {% image item.image fill-800x600 %}
      <div class="caption center-align">
        <h3>{{ item.title }}</h3>
        <h5 class="light grey-text text-lighten-3">{{ item.subtitle }}</h5>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="info" class="container">
</div>

{% endblock %}
