{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="carousel carousel-slider" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect blue darken-4 white-text darken-text-2" href="#info">En savoir plus</a>
  </div>
  {% for item in page.carousel_images.all %}
      <a class="carousel-item" href="#">
        {% image item.image fill-1000x600 %}
      </a>
  {% endfor %}
</div>
<div id="info" class="container">
  TEst
</div>

{% endblock %}
